name: C/C++ CI

on:
  push:
    branches: [ tw-7.0-experimental ]
  pull_request:
    branches: [ tw-7.0-experimental ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
